*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Header Section */
.custom-n{
    background-color: cornflowerblue;
}
.nav-link{
    color: #f9f2f2;
    position: relative;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.4px;
}
.nav-link:after{
    content: "";
    position: absolute;
    background-color: rgb(3, 3, 75);
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}
.nav-link:hover{
    color: rgb(197, 244, 248);
}
.nav-link:hover:after{
    width: 100%;
}

/* hero section  */
.custom-img1{
    display: flex;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    margin-left: 90px;
}
/* @media screen and (max-width:992px) {
    .custom-img1{
        height: 400px;
        width: 400px;
    }
}
@media screen and (max-width:776px) {
    .custom-img1{
        height: 300px;
        width: 300px;
    }
} */
/* @media screen and (max-width:1200px) {
    .custom-img1{
        height: 400px;
        width: 200px;
        margin-right: 100px;
    }
} */
/* @media screen and (max-width:1081px) {
    .custom-img1{
        height: 400px;
        width: 200px;
        margin-right: 100px;
    }
}
@media screen and (max-width:933px) {
    .custom-img1{
        height: 300px;
        width: 200px;
        margin-right: 100px;
    }
} */

.container-fluid{
    background-color: cornflowerblue; 
    height: 600px;
    width: 100%;
}
/* @media screen and (max-width:1284px) {
    .container-fluid{
        width: 95%;
    }
}

@media screen and (max-width:1400px) {
    .custom-head{
        font-size: 35px;
    }
}
@media screen and (max-width:1203px) {
    .custom-head{
        font-size: 30px;
    }
}
@media screen and (max-width:992px) {
    .custom-head{
        font-size: 20px;
    }
}
@media screen and (max-width:776px) {
    .custom-head{
        font-size: 15px;
    }
} */
/* Abuot Section  */
.custom-h{
   text-align: center;
}
.text{
    margin-bottom: 10rem;
}
.title-a{
    position: relative;
    font-size: 40px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
}
.title-a:after{
    content: "";
    position: absolute;
    background-color: cornflowerblue;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

/* Service Section */
.service-section{
    width: 100%;
    height: 500px;
    margin-bottom: 9rem;
}
.service-s {
    width: 100%;
}
.custom-s{
    height: 250px;
    width: 23%;
    border: 1px solid black;
    margin-right: 26px;
    border-radius: 5px;
    box-shadow:0px 2px 10px rgb(97, 96, 97);
    border: none;
}
@media screen and (max-width:1400px) {
    .custom-s{       
        width: 22.7%;
    }
}
@media screen and (max-width:1200px) {
    .custom-s{       
        width: 22.2%;
    }
}
.custom-s:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 500ms ease;
    background-color: #bac2f5;
    transform: translate(0px, -15px);
}
.text-1{
    text-align: center;
    margin-top: 35px;
    font-weight: 600;
    color: rgb(17, 88, 220);
}
.text-1:hover{
    color: rgb(4, 4, 4); 
}
.text-2{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}
.text-2:hover{
    color: rgb(245, 246, 248);
}
.title-b{
    position: relative;
    font-size: 40px;
    letter-spacing: 1.4px;
    margin-bottom: 15px;
}
.title-b:after{
    content: "";
    position: absolute;
    background-color: cornflowerblue;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

/* Work Section */
.custom-s1{
    height: 250px;
    width: 303px;
    border: 1px solid black;
    /* display: flex;
    float: left; */
    margin-right: 26px;
    border-radius: 3px;
    box-shadow:1px 2px 15px rgb(97, 96, 97); 
    border: none; 
    overflow: hidden;
}
.custom-i{
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro{
    height: 150px;
    width: 303px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(87, 84, 84, 0.5);
    /* box-shadow:5px 2px 10px rgb(176, 173, 176);  */
    color: white;
    /* bottom: 150px; */

}

.custom-h1{
    font-size: 18px;
    /* visibility: hidden;
    opacity: 0; */
}
.custom-s1:hover{
    cursor: pointer;
}
.work-section{
    margin-bottom: 10rem;
}

/* Team Section */
.custom-s2{
    height: 250px;
    width: 48%;
    border: 1px solid black;
    margin-right: 26px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow:1px 2px 8px rgb(97, 96, 97);  
    border: none; 
}
.custom-s2:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 500ms ease;
    transform: translate(0px, -10px);
}
.team-section{
    margin-bottom: 10rem;
}
.custom-img{
    height: 250px;
    width: 200px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.custom-im{
    height: 200px;
    width: 150px;
    margin-top:23px;
    margin-left: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.text-3{
    font-weight: 600;
    margin-top: 30px;
}
.text-4{
    font-weight: 600;
}

/* Contact Section */
.custom-s3{
    height: 650px;
    width: 44%;
    border: 1px solid black;
    margin-right: 26px;
    border-radius: 3px;
    box-shadow:1px 2px 8px rgb(97, 96, 97);  
    border: none;
}
.custom-s4{
    height: 650px;
    width: 54%;
    border: 1px solid black;
    /* margin-right: 26px; */
    border-radius: 3px;
    box-shadow:1px 2px 8px rgb(97, 96, 97);  
    border: none;
}
.contact-section{
    margin-bottom: 10rem;
}
.custom-con{
    margin-left: 20px;
    margin-top: 20px;
}
.custom-f{
    padding: 30px;
}
.form-control{
    border-radius: 7px;
}
.form-control:hover{
    box-shadow: 1px 2px 3px 3px #90929f;
    transition: all 500ms ease;
}
.btn-b {
    margin-left: 15rem;
    border-radius: 30px;
    /* box-shadow: 10px 7px 10px 3px #90929f; */
    transition: all 500ms ease;
    color: black;
    border: none;
}
.btn-b:hover{
    box-shadow: 19px 13px 12px 5px #90929f;
    transition: all 500ms ease;
    color: white;
    background-color: cornflowerblue;
}

/* Footer Section */
.links{
    text-decoration: none;
    color: black;
}
.custom-1{
    color: rgb(47, 112, 233);
}


