*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Header Section */
.custom-n{
    background-color: cornflowerblue;
}
/* hero section  */
.img{
    display: flex;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    margin-left: 80px;
  
}
.container-fluid{
    background-color: cornflowerblue; 
    height: 600px;
    width: 100%;
}
/* Abuot Section  */
.custom-h{
   text-align: center;
}
.text{
    margin-bottom: 10rem;
}
/* Service Section */
.service-section{
    width: 100%;
    height: 500px;
    margin-bottom: 9rem;
}
.service-s {
    width: 100%;
}
.custom-s{
    height: 250px;
    width: 23%;
    border: 1px solid black;
    margin-right: 26px;
    border-radius: 5px;
    box-shadow:4px 5px 15px rgb(97, 96, 97);
    border: none;
}
.text-1{
    text-align: center;
    margin-top: 35px;
    font-weight: 600;
    color: cornflowerblue;
}
.text-2{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

/* Work Section */
.custom-s1{
    height: 250px;
    width: 23%;
    border: 1px solid black;
    /* display: flex;
    float: left; */
    margin-right: 26px;
    border-radius: 3px;
    box-shadow:1px 2px 15px rgb(97, 96, 97); 
    border: none; 
}
.custom-i{
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.work-section{
    margin-bottom: 10rem;
}

/* Team Section */
.custom-s2{
    height: 250px;
    width: 48%;
    border: 1px solid black;
    margin-right: 26px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow:1px 2px 8px rgb(97, 96, 97);  
    border: none; 
}
.team-section{
    margin-bottom: 10rem;
}
.custom-img{
    height: 250px;
    width: 200px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.custom-im{
    height: 200px;
    width: 150px;
    margin-top:23px;
    margin-left: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.text-3{
    font-weight: 600;
    margin-top: 30px;
}
.text-4{
    font-weight: 600;
}

/* Contact Section */
.custom-s3{
    height: 650px;
    width: 44%;
    border: 1px solid black;
    margin-right: 26px;
    border-radius: 3px;
    box-shadow:1px 2px 8px rgb(97, 96, 97);  
    border: none;
}
.custom-s4{
    height: 650px;
    width: 54%;
    border: 1px solid black;
    /* margin-right: 26px; */
    border-radius: 3px;
    box-shadow:1px 2px 8px rgb(97, 96, 97);  
    border: none;
}
.contact-section{
    margin-bottom: 10rem;
}
.custom-con{
    margin-left: 20px;
    margin-top: 20px;
}
.custom-f{
    padding: 30px;
}
.form-control{
    border-radius: 7px;
}
.form-control:hover{
    box-shadow: 1px 2px 3px 3px #90929f;
    transition: all 500ms ease;
}
.btn-b {
    margin-left: 15rem;
    border-radius: 30px;
    /* box-shadow: 10px 7px 10px 3px #90929f; */
    transition: all 500ms ease;
    color: black;
    border: none;
}
.btn-b:hover{
    box-shadow: 19px 13px 12px 5px #90929f;
    transition: all 500ms ease;
    color: white;
    background-color: cornflowerblue;
}

/* Footer Section */
